*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar .logo{
    position: absolute;
    width: 115px;
    top:5px;
    left: 5px;
}
/* d */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#FFFEFE;
    font-family: 'Montserrat', sans-serif;
}
.navbar .navbar-collapse{
    
    justify-content: center;
    padding: 20px;
}
.navbar .navbar-collapse .nav-link{
    padding: 8px 30px;
}
.btn{
    border: solid 1px #000000;
    border-radius: unset;
    padding: 5px 30px;
    color:#FFFEFE;
    font-family: 'Montserrat', sans-serif;  
    background-color: #06054E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-fluid{
    padding:0;
    background-image: url("images/image\ 120.jpg");
    background-repeat: no-repeat;
    height: 100vw;
    
}

.container-fluid  .presentation-container{
    padding: 3vw;
    display: flex;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}
.presentation-text-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.presentation-title{
    font-family: 'Montserrat', sans-serif;
    color: #FFFEFE;
    padding:5px;
}
.presentation-subtitle{
    font-family: 'Ruge Boogie', cursive;
    color: #FFFEFE;
    padding:5px;
}


.panal {
    /* hexagonos */
    --radio: calc(100vmin / 3);
    --height: var(--radio);
  /* colores */
    --negroO: #1d1f20;
    --negroM: #292f33;
    --negroC: #444448;
    --gris: #999;
    --blancoS: #e1e8ed;
}
.row-3 {
    margin-top: -40px;
    margin-bottom: -40px;
    flex-wrap: nowrap !important;
}

/* grid panal */
.panal-cont {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vmin;
    padding-left: 2vmin;
    margin: .5rem auto;
  }

  article {
    background: linear-gradient(59.54deg, #232252 20.35%, #151515 164.58%);
    width: var(--width); 
    height: var(--height);
    overflow: hidden;
    transition: 1s;
    clip-path: url(#hexa-v);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    filter: drop-shadow(0 0 1px #fff);
    margin: 2vmin;
  }
  
  /*hexagonos*/
  figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    font-size: calc(1rem + 1vmin);
    line-height: 1.2;
    transition: .75s .05s;
    hyphens: auto;
    text-align: center;
  }
  
.h2-style {
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }

p {
    color: white;
}

.container-panal {
    background: linear-gradient(90deg, rgba(6, 5, 61, 0.87) 61.28%, #85001F 103.12%);
}