*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.navbar .logo{
    position: absolute;
    width: 115px;
    top:5px;
    left: 5px;
}
.navbar .language-logo{
    position:absolute;
    width: 40px;
    top:30px;
    right: 0px;

}
.navbar .language-logo:hover{
    cursor:pointer;

}
/* d */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#FFFEFE;
    font-family: 'Montserrat', sans-serif;
}
.navbar .navbar-collapse{
    
    justify-content: center;
    padding: 10px 20px;
}
.navbar .navbar-collapse .nav-link{
    padding: 8px 30px;
}
.btn{
    
    border-radius: unset;
    padding: 12px 30px;
    color:#FFFEFE;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    font-size: 18px;
    background-color:  #7F1C3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 70px;
}
.background-container {
    padding:0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
   
    
}

.container-fluid  .presentation-container{
    padding: 3vw;
    display: flex;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}
.presentation-text-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.presentation-title{
    color: #fffefe00;
    font-size: 0;
    padding:50px 300px;
    background-image: url("/images/h1-main.png");
    background-size:100%;
    background-repeat: no-repeat;
  }
.presentation-subtitle{
    font-weight: 700;
    font-size: 20px;
    color: #FFFEFE;
    padding-top:65px;
    padding-bottom: 30px;
    margin:20px;
}
.full-sized{
    height: 100vh;
    margin:20px 0;
}
/* Sección acerca de nosotros*/
#aboutUs{
    padding: 40px 20px;

}
#aboutUs .aboutUs-textContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
}
#aboutUs .aboutUs-textContainer .aboutUs-sectionText{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}
#aboutUs .aboutUs-textContainer .aboutUs-enhanceText{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    line-height: 25px;
    padding: 0 9vw;
    text-align: center;
}
#aboutUs .aboutUs-textContainer .aboutUs-enhanceSuscribe{
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    padding:30px;
    font-size: 18px;
}
#aboutUs .aboutUs-textContainer .aboutUs-enhanceSuscribe:hover{
    cursor:pointer;
}
#aboutUs .aboutUs-textContainer .sectionEnhance-img{
    margin-top: 80px;
}
#aboutUs .aboutUs-img{
    width: 38vw;
}
.section-title{
    font-weight: 600;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    padding:10px;
    line-height: 40px;
}
#aboutUs .calendarBox{
    padding:10px;
    margin:35px;
    margin-bottom: 80px;
    border:2px solid black;
    width:550px;
    height: 111px;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}
#aboutUs .calendarBox .calendarBox-TextContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top:15px;
}
#aboutUs .calendarBox .calendarBox-TextContainer .calendarBox-text{
    color:rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 1.5em;
    line-height: 15px;
    
}
#aboutUs .calendarBox .calendarBox-img{
    padding: 10px;
    width: 80px;

}

/*Sección servicios*/

.panal {
    /* hexagonos */
    --radio: calc(100vmin / 3);
    --height: var(--radio);
  /* colores */
    --negroO: #1d1f20;
    --negroM: #292f33;
    --negroC: #444448;
    --gris: #999;
    --blancoS: #e1e8ed;
}
.row-3 {
    margin-top: -40px;
    margin-bottom: -40px;
    flex-wrap: nowrap !important;
}

/* grid panal */
.panal-cont {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vmin;
    padding-left: 2vmin;
    margin: .5rem auto;
  }

  article {
    background: linear-gradient(59.54deg, #232252 20.35%, #151515 164.58%);
    width: var(--width); 
    height: var(--height);
    overflow: hidden;
    transition: 1s;
    clip-path: url(#hexa-v);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    filter: drop-shadow(0 0 1px #fff);
    margin: 2vmin;
  }
  
  /*hexagonos*/
  figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    font-size: calc(1rem + 1vmin);
    line-height: 1.2;
    transition: .75s .05s;
    hyphens: auto;
    text-align: center;
  }
  
.h2-style {
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }

p {
    color: white;
}

.container-panal {
    background: linear-gradient(90deg, rgba(6, 5, 61, 0.87) 61.28%, #85001F 103.12%);
}


/*Sección ¿Estás Listo? */

#opportunities .opportunities-container{
    background: linear-gradient(88.99deg, rgba(6, 5, 61, 0.87) -0.58%, #85001F 102.24%);
    clip-path: polygon(0% 0%, 45% 0%, 20% 100%, 0% 100%);
    display: flex;
    
}
.opportunities-TextContainer{
    
}
=======
.contenedor-btn {
    display: flex;
    justify-content: center !important;
}

.mas-info-btn {
    background-color: transparent;
    border: 4px solid white;
    height: 80px;
    width: 200px;
    color: white;
    font-size: larger;
}
.img-flecha {
    width: 130px;
    position: relative;
    background-color: white;
    border-radius: 10%;
}
.contenedor-flecha{
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    padding: 30px;
   
}
.contacto {
    height: 972px;
    background: linear-gradient(52.69deg, #920000 34.58%, rgba(6, 5, 61, 0.87) 76%);
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}
.container-form {
    width: 800px;
    padding-right: 100px;
   
}
.contacto-title {
    color: white;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}
.contacto-p {
    margin-top: 80px;
    font-size: 26px;
}
label {
    font-size: 18px;
    color: #ffffff;
}
textarea {
    width: 780px !important;
}
input {
    width: 780px !important;
}
.mapa{
    width: 1400px;
    height: 675px;
}

.container-map {
    position: relative;
    display: inline-block;
}
.direccion-container {
    background-color: black;
    opacity: 80%;
    position: absolute;
    top: 100px;
    left: 50px;
}
.img-footer-redes {
    height: 110px;;
}
footer {
    height: 365px;
    background: linear-gradient(95.81deg, #920101 32.4%, #06054E 93.99%);
}
.tit-footer {
    font-size: 48px;
    color: white;
    font-family: Montserrat;
}

