*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.nav-link{
    width:max-content;
}
.navbar-default{
    background-color: #862f38;
}

.full-sized{

    margin:20px 0;
}
.extra-sized{
    width: 100%;
    height: 180vh;
}
#goUp {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 105px; /* Place the button at the bottom of the page */
    right: 27px; /* Place the button 30px from the right */
    z-index: 3; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
  }
  
  #goUp:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
.eng-text{
    display:none;
}
.navbar .logo{
    position: absolute;
    width: 10vw;
    top:5px;
    left: 5px;
}
.navbar .language-logo{
    position:absolute;
    width: 40px;
    top:30px;
    right: 0px;
    transition: linear 0.2s;
}
.navbar .language-logo:hover{
    cursor:pointer;
    transform: scale(1.1);

}
/* d */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#FFFEFE;
    font-family: 'Montserrat', sans-serif;
}

.navbar .navbar-collapse{
    
    justify-content: center;
    padding: 10px 20px;
}
.navbar .navbar-collapse .nav-link{
    padding: 8px 30px;
    transition:linear 0.3s;
}
.navbar .navbar-collapse .nav-link:hover{
    transform: scale(0.97);
}
.btn{
    
    border-radius: unset;
    padding: 12px 30px;
    color:#FFFEFE;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    font-size: 18px;
    background-color:  #7F1C3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 70px;
    transition: linear 0.2s;
}
.btn:hover{
    background-color: #f7e6e6;
    transform: scale(0.98);
    color: #7F1C3B;
}
.bg-color {
    background-color: #7F1C3B;
}

.background-container {
    padding:0;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    height: 617px;
    max-width: 1440px;
    background-position: center;
}
.container-fluid  .presentation-container{
    padding: 3vw;
    display: flex;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height:617px;
}
.presentation-text-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.presentation-title{
    color: #fffefe00;
    font-size: 0;
    padding:50px 300px;
    background-image: url("../images/h1Main.png");
    background-size:100%;
    background-repeat: no-repeat;
  }
.presentation-subtitle{
    font-weight: 700;
    font-size: 20px;
    color: #FFFEFE;
    padding-top:65px;
    padding-bottom: 30px;
    margin:20px;
}

/* Sección acerca de nosotros*/
#aboutUs{
    padding: 40px 30px;
    background: #FFFEFE;
    align-content: center;
    }
#aboutUs .aboutUs-textContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
    align-items: center;
}

#aboutUs .aboutUs-textContainer .aboutUs-sectionText{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}
#aboutUs .aboutUs-textContainer .aboutUs-enhanceText{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    line-height: 25px;
    padding: 0 9vw;
    text-align: center;
}
#aboutUs .aboutUs-textContainer .aboutUs-enhanceSuscribe{
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    padding:30px;
    font-size: 18px;
    
}
#aboutUs .aboutUs-textContainer .aboutUs-enhanceSuscribe a{
color:rgba(0, 0, 0, 0.9)
}
#aboutUs .aboutUs-textContainer .aboutUs-enhanceSuscribe:hover{
    cursor:pointer;
}

#aboutUs .aboutUs-img{
    width: 47vw;
    height: 100%;
}
.section-title{
    font-weight: 600;
    font-size: 2em;
    color: rgba(0, 0, 0, 1);
    padding-bottom:40px;
    line-height: 40px;
}
#aboutUs .calendarBox{
    padding:10px;
    margin-top: 35px;
    margin-bottom: 60px;
    border:2px solid black;
    width:550px;
    height: 111px;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}
#aboutUs .calendarBox .calendarBox-TextContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top:15px;
}
#aboutUs .calendarBox .calendarBox-TextContainer .calendarBox-text{
    color:rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 1.5em;
    line-height: 15px;
    
}
#aboutUs .calendarBox .calendarBox-img{
    padding: 10px;
    width: 80px;

}



/*Sección servicios*/
@media screen and (min-width: 769px) {
    .servicio-small{
        display: none;
    }
    .panal {
    /* hexagonos */
        --radio: calc(100vmin / 3);
        --height: var(--radio);
    }
    .row-3 {
        margin-top: -40px;
        margin-bottom: -40px;
        flex-wrap: nowrap !important;
    }

    /* grid panal */
    #services{
        margin-bottom:40px;
        overflow: hidden;
    }
    .panal-cont {
        font-family: 'Montserrat', sans-serif;
        max-width: 100vmin;
        padding-left: 2vmin;
        margin: .5rem auto;
        margin-top: 100px;
    
    }
    article {
        background: linear-gradient(59.54deg, #232252 20.35%, #151515 164.58%);
        width: var(--width); 
        height: var(--height);
        overflow: hidden;
        transition: 1s;
        clip-path: url(#hexa-v);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        filter: drop-shadow(0 0 1px #fff);
        margin: 2vmin;
    }
    /*hexagonos*/
    figure {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 100%;
        line-height: 1.2;
        transition: .75s .05s;
        hyphens: auto;
        text-align: center;
    }
    /*titulo*/
    .p-services-style-w, .p-services-style-r {
        font-family: 'Lilita One', cursive;
        font-size: 36px;
        color: white;
    }
    figure p span {
        font-family:  'Montserrat', sans-serif;
        color: #C4C4C4;
        font-size: 14px;
    }
    figure img {
        width: 58px;
    }
    .container-panal {
        background: linear-gradient(90deg, rgba(6, 5, 61, 0.87) 61.28%, #85001F 103.12%);
        padding-top: 150px;
    }
}

@media screen and (max-width: 768px) {
    /* Presentation */



    .container-panal {
        display: none;
    }    
    #services {
        overflow: hidden;
    }
    .panal-cont {
        font-family: 'Montserrat', sans-serif;
    }
    figure {
        background: linear-gradient(59.54deg, #232252 20.35%, #151515 164.58%);
        width: 100%;
        transition: 1s;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }
    /*titulo*/
    .p-services-style-w, .p-services-style-r {
        font-family: 'Lilita One', cursive;
        font-size: 24px;
        color: white;
    }
    figure p span{
        font-family:  'Montserrat', sans-serif;
        color: #C4C4C4;
        font-size: 20px;
    }
    figure img {
        width: 40px;
    }
    .servicio-small {
        background: linear-gradient(90deg, rgba(6, 5, 61, 0.87) 61.28%, #85001F 103.12%);
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .p-services-style-r {
        padding-bottom: 100px;
    }
}



/*Sección oportunidad */

.opportunities .opportunities-backgroundContainer{
    background: linear-gradient(88.99deg, rgba(6, 5, 61, 0.87) -0.58%, #85001F 102.24%);
    clip-path: polygon(0% 0%, 55% 0%, 15% 100%, 0% 100%);
    display: flex;
    position:absolute;
    
}

.opportunities .opportunities-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFEFE;
    
}
.opportunities .opportunities-container .opportunities-img{
    width: 35vw;
    z-index: 2;
}
.opportunities .opportunities-container .opportunities-img_alt{
    display: none;
}
.opportunities .opportunities-container .opportunities-TextContainer{
    display: flex;
    flex-direction: column;
    width: 45vw;
}
.opportunities .opportunities-container .opportunities-TextContainer .opportunities-TextContainerTitle{
    font-weight: 600;
    font-size:2.5em;
    text-align: center;
    padding: 60px 0;
    margin-top:20px;

}
.opportunities .opportunities-container .opportunities-TextContainer .opportunities-text{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    letter-spacing: 0.05em;
}
.opportunities .opportunities-container .opportunities-TextContainer .opportunities-highlightedText{
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(0, 0, 0, 9);
}
.opportunities .opportunities-container .opportunities-btnContainer{
    display: flex;
    justify-content: center;
}
.opportunities .opportunities-container .opportunities-btn{
    font-weight: 600;
    display: inline-block;
    padding: 18px 35px;
    border: 4px solid #351946;
    background: #FFFEFE;
    color:rgba(50, 27, 73, 1);
    font-size: 1.5em;
    margin-top:30px;
    margin-bottom: 40px;
    width: fit-content;
    
}
.opportunities .opportunities-container .opportunities-btn:hover{
    color: #7F1C3B;
}

.formation .formation-container .formation-backgroundContainer{
    background: linear-gradient(88.99deg, rgba(6, 5, 61, 0.87) -0.58%, #85001F 102.24%);
    clip-path: polygon(100% 0%, 85% 0%, 45% 100%, 100% 100%);
    display: flex;
    position:absolute;
    z-index: 2;
   
}
.formation .formation-container{
    display:flex;
    justify-content: space-between;
    background: #FFFEFE;
    
    
}
.formation .formation-container .formation-textContainer{
    display: flex;
    flex-direction: column;
    width: 55vw;
    padding-left: 65px;

}
.formation .formation-container .formation-textContainer .formation-textContainerTitle{
    width: 70vw;
    font-family:  'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2em;
    line-height: 43px;
    letter-spacing: 0.6vw;
    padding-bottom: 80px;
    padding-top: 80px;
}
.formation .formation-container .formation-textContainer .formation-textContainerSubtitle{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #6B002C;
    padding-bottom: 40px;
    padding-top:60px;
}
.formation .formation-container .formation-textContainer .formation-textRed{
    color:#6B002C;
}
.formation .formation-container .formation-textContainer .formation-redBullet{
    color:#6B002C;
    font-size: 2rem;
    padding-bottom: 70px;
    padding-right:20px;
    
}
.formation .formation-container .formation-text{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    letter-spacing: 0.05em;
    width: 60vw;
    font-size: 1.3em;
}
.formation .formation-container .formation-textContainer .formation-bulletContainer{
    display:flex;
    align-content: center;
}
.formation .formation-container .formation-imgContainer .formation-img{
    width: 30vw;
    position: absolute;
    right: 0;
    top:250px;
    bottom:10px;
    z-index: 3;
    
    
}
.facilities{
    padding: 65px;
    width: 100%;
}

.facilities .facilities-title{
    font-weight: 600;
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    padding: 80px;
}
.facilities .facilities-img{
    padding-bottom: 60px;
    display: block;
    width: 100%;
}

@media only screen and (max-width: 991px){
    .navbar{
        justify-content: unset;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .nav-text{
        font-weight: bold;
    }
    .navbar .logo{
        left: 45%;
    }
    .full-sized{
        height: unset;
    }
    .extra-sized{
        height: 100vh;
    }
    .opportunities .opportunities-container .opportunities-TextContainer .opportunities-TextContainerTitle{
        font-size: 2em;
    }
    .opportunities .opportunities-container .opportunities-TextContainer{
        width: 40vw;
    }
    .section-title{
        font-size: 2em;
    }
    .formation .formation-container .formation-textContainer .formation-textContainerTitle{
        font-size: 1.5em;
    }
    .facilities .facilities-title{
        font-size: 2em;
    }
   
    #aboutUs .calendarBox .calendarBox-TextContainer .calendarBox-text {
        font-size: 1em;
    }
    #aboutUs .calendarBox .calendarBox-img{
        width: 60px;
        padding:10px;
    }
    #aboutUs .calendarBox{
        width: 400px;
        height: 90px;
        margin-bottom: 40px;
    }
}
 @media screen and (max-width: 768px){
    .navbar .logo{
        display:none;
    }
    .navbar{
        padding-top: 2rem;
    }
    .navbar .language-logo{
        right: 15px;
    }
    body{
        font-size: 0.7em;
    }
    .extra-sized{
        height: unset;
    }
    .presentation-subtitle{
        font-size:1em;
        padding-top:unset;
    }
    .presentation-title{
        padding: 25px 160px;
    }
    
    #aboutUs{
        margin-bottom: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: unset;
    }
    #aboutUs .aboutUs-textContainer{
        flex-direction: column-reverse;
        padding:10px
    }
    #aboutUs .aboutUs-img {
        width: 100%;
        padding-bottom: 20px;
    }
    
    #aboutUs .calendarBox{
        width: 80%;
        height: 90px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #aboutUs .aboutUs-textContainer .sectionEnhance-img {
        margin-top: 10px;
        width: 100%;
    }
    #aboutUs .aboutUs-textContainer .aboutUs-sectionText{
        color:rgba(0, 0, 0, 0.9);
    }
    #aboutUs .aboutUs-textContainer .aboutUs-enhanceText{
        padding: unset;
       
    }
    .section-title{
        padding:unset;
    }
    .opportunities .opportunities-container {
        align-items:unset;
        
    }
    
    .opportunities .opportunities-backgroundContainer{
        display:none;
    }
    .opportunities .opportunities-container .opportunities-img{
        display:none;
    }
    .opportunities .opportunities-container .opportunities-img_alt{
        display: unset;
        position: absolute;
        left: 0;
        width: 50vw;
        margin-top:32vh;
        opacity: 0.1;
    }
    .opportunities .opportunities-container .opportunities-TextContainer{
        width: 100%;
        z-index: 2;
        padding:20px
    }
    .formation .formation-container .formation-textContainer{
        width: unset;
        padding:0 20px;
    }
    
    .opportunities .opportunities-container .opportunities-TextContainer .opportunities-text {
        color: rgba(0, 0, 0, 0.9);
    }
    
    .formation .formation-container .formation-textContainer .formation-textContainerTitle{
        width: 100%;
        padding: unset;
        font-weight: 800;
        font-size: 2em;
        text-align: center;
    }
    .formation .formation-container .formation-text {
        color: rgba(0, 0, 0, 0.9);
        width:unset;
    }
    .formation .formation-container .formation-backgroundContainer{
        background: unset;
        position: absolute;
        clip-path: unset;
        
    }
    .formation .formation-container .formation-imgContainer .formation-img{
        top: 130px;
        width: 70vw;
        opacity: 0.25;
    }
    .formation .formation-container .formation-textContainer .formation-textContainerSubtitle {
        font-weight: 800;
        font-size: 2em;
        padding-bottom: 30px;
    }
    .formation .formation-container .formation-textContainer .formation-redBullet {
        font-size: 1.5rem;
    }
    .facilities {
        padding: 20px;
    }
    .facilities .facilities-title {
        padding:30px;
    }
} 
/*contacto*/

@media screen and (min-width: 768px) {
    .mas-info-btn {
        background-color: transparent;
        border: 4px solid white;
        height: 80px;
        width: 200px;
        color: white;
        font-size: 1.5em;
        margin-bottom: 50px;
        transition: linear 0.2s;
    }
    .mas-info-btn:hover{
        transform: scale(1.05);
        background-color: #6B002C;
    }
}
@media screen and (max-width: 768px) {
    .img-form {
        display: none;
    }
    
    .img-flecha {
        width: 130px;
        position: relative;
        background-color: white;
        border-radius: 10%;
    }
    .contenedor-btn-form {
        text-align: right;
    }
    .contenedor-btn-form button {
        background-color: #232252;
        margin-top: 30px;
    }
    .color-arrow-drop-up {
        color: white;
        padding: 2px;
        height: 32px;
        width: 30px;
        border: 1px solid #007bff;
        background-color: #232252;
    }
    .contacto {
        padding-top: 100px;
        height: 972px;
        background: linear-gradient(88.99deg, rgba(6, 5, 61, 0.87) -0.58%, #85001F 102.24%);
        display: flex;
        justify-content: flex-end;
    }
    .contacto-title {
        color: white;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
    }
    .contacto-p {
        margin-top: 80px;
        font-size: 1.5em;
        color: white;
    }
    label {
        font-size: 1.5em;
        color: #ffffff;
    }
    textarea {
        height: 140px !important;
        resize: none;
    }
}
@media screen and (min-width: 769px) {
    .img-form {
        width: 500px;
    }
    .container-form {
        width: 620px;
    }
    .contenedor-btn {
        margin-top: 100px;
        text-align: center;
    }
    .mas-info-btn {
        background-color: transparent;
        border: 4px solid white;
        height: 80px;
        width: 200px;
        color: white;
        font-size: 1.5em;
        margin-bottom: 50px;
    }
    .img-flecha {
        width: 130px;
        position: relative;
        background-color: white;
        border-radius: 10%;
    }
    .contenedor-btn-form {
        text-align: right;
    }
    .contenedor-btn-form button {
        background-color: #232252;
        margin-top: 30px;
    }
    .color-arrow-drop-up {
        color: white;
        padding: 10px;
        height: 50px;
        width: 50px;
        border: 1px solid #007bff;
        background-color: #232252;
    }
    .contacto {
        padding-top: 100px;
        height: 972px;
        background: linear-gradient(88.99deg, rgba(6, 5, 61, 0.87) -0.58%, #85001F 102.24%);
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        margin-top: 100px;
    }
    .contacto-title {
        color: white;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
    }
    .contacto-p {
        margin-top: 80px;
        font-size: 1.5em;
        color: white;
    }
    label {
        font-size: 1.5em;
        color: #ffffff;
    }
    textarea {
        height: 140px !important;
        resize: none;
    }
}

/*mapa*/
.container-map {
    display: flex;

    justify-content:space-evenly;
    flex-wrap: wrap;
} 
.direccion-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.bolder{
    font-weight: bolder;
}
.direccion-container-p{
    display: flex;
    flex-direction: row;
    padding:3vh;
    
}
.direccion-container-text p{
    margin:0;
}
.direccion-img{
    width: 40px;
    object-fit:contain;
    margin-right: 30px;
}
/*footer*/
.img-footer-redes {
    height: 30px;
}
.ig {
    margin: 0 40px;
}
footer {
    height: 280px;
    background: linear-gradient(88.99deg, rgba(6, 5, 61, 0.87) -0.58%, #85001F 102.24%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.tit-footer {
    font-size: 1.5em;
    color: white;
    font-family: Montserrat;
}
footer p {
    color:white;
}


/* Responsive for medium screens */

